@font-face {
    font-family: 'corinthiaregular';
    src: url('../fonts/corinthia/corinthia-webfont.eot');
    src: url('../fonts/corinthia/corinthia-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/corinthia/corinthia-webfont.woff') format('woff'),
    url('../fonts/corinthia/corinthia-webfont.ttf') format('truetype'),
    url('../fonts/corinthia/corinthia-webfont.svg#corinthiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html ,
body{
    margin: 0;
    padding:  0;
    height: 100%;
}
html{

}
body{
    background: url("../img/bg.jpg") repeat;
    font-size: 100%;
    margin: 0 auto;
}
div.wrapper{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxODAzMTAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTgwMzEwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(24,3,16,0) 0%, rgba(24,3,16,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(24,3,16,0)), color-stop(100%,rgba(24,3,16,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(24,3,16,0) 0%,rgba(24,3,16,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(24,3,16,0) 0%,rgba(24,3,16,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(24,3,16,0) 0%,rgba(24,3,16,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(24,3,16,0) 0%,rgba(24,3,16,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    min-height: 100%;
    position: relative;
}
img{
    border: none;
    max-width: 100%;
}
div.page-wrapper{
    width: 950px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    padding-bottom: 145px;
}
header{
    padding-top: 34px;
    min-height: 95px;
}
header > div{
    display: inline-block;
    float: left;
}
div.top-text{
    font:normal 225% corinthiaregular , Arial, sans-serif;
    color: #FFFFFF;
    margin-left: 82px;
    padding-top: 15px; /*look!*/
}
div.search{
    float: right;
    margin-top: 25px;
    text-align: right;
    width: 164px;
}
div.search form{
  position: relative;
}
div.search input[type="text"]{
    padding: 0 0 0 25px;
    width: 139px;
    height: 24px;
    border: none;
    border-radius: 2px;
    background: #7a5b6e;
    -webkit-box-shadow: inset 0px 0px 2px 1px #743e5f;
    box-shadow: inset 0px 0px 2px 1px #743e5f;
    color: #B4A3AE;
}
div.search input[type="submit"]{
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 0px;
    background: url("../img/sprite.png") no-repeat scroll -74px 5px transparent;
    border: none;
    left: 0;
    cursor: pointer;
    padding: 0;
    top: 0;
}
nav{
    clear: both;
    display: table;
    width: 100%;
    border-radius: 2px 2px 0 0 ;
}
nav ul{
    padding: 0;
    display: table-row;
    position: relative;
    width: 100%;
    margin: 0;
}
nav ul li{
    list-style: none;
    display: table-cell;
    text-align: center; vertical-align: middle;
    border-top: 1px solid #592c47;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    heigth: 46px;
    background: #43042a; /* Old browsers */
    background: -moz-linear-gradient(top,  #43042a 0%, #5f073a 100%, #5f073a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43042a), color-stop(100%,#5f073a), color-stop(100%,#5f073a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43042a', endColorstr='#5f073a',GradientType=0 ); /* IE6-9 */
    border-right: 1px solid #390423;
    border-left: 1px solid #740847;
    font: normal 95%/46px Arial, sans-serif;
}
nav ul li.first{
    border-radius: 2px 0 0 0;
}
nav ul li.last{
    border-radius: 0 2px 0 0;
}
nav ul li.first a{
   border-left: none;
   border-radius: 2px 0 0 2px;
}
nav ul li.last a{
    border-right: none;
    border-radius: 0 2px 2px 0;
}
section.page-top{
    -webkit-box-shadow: 0px 0px 20px 10px #260a1a;
    box-shadow: 0px 0px 20px 10px #260a1a;
    border-radius: 2px 2px 0 0 ;
    clear: both;
}

/*-----Main Slider-----*/
div.slider{
    width: 950px;
    overflow: hidden;
    position: relative;
}
div.slider div.slide-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
div.slider div.slide{
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
div.slider div.slide:first-child {
    position: relative;
    display: block;
    float: left;
}
div.slider div.slide img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
a.rslides_nav.prev{
    width: 35px;
    height: 35px;
    background: url("../img/sprite.png") 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -18px;
    z-index: 100;
    text-indent: -9999px;
}
a.rslides_nav.next{
    width: 35px;
    height: 35px;
    background: url("../img/sprite.png") -35px 0 no-repeat;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -18px;
    z-index: 100;
    text-indent: -9999px;
}
div.slider div.slide > span{
    position: absolute;
    top: 45px;
    left: 65px;
    color: #FFFFFF;
    font: normal 180% Arial, sans-serif;
}
div.slider div.slide span span{
font-size: 80%;
}

/*-----Carousel-----*/
div.carousel{
    width: 950px;
    height: 150px;
    position: relative;
    margin-top: 23px;
}
div.car-wrap{
    position: relative;
    padding: 0 60px;
}
div.carousel-wrap{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
div.carousel-wrap .item{
    text-align: center;
    width: 50px;
    padding: 0;
    display: block;
    float: left;
}
div.carousel-wrap .item img{
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor: pointer;
    max-width: 100%;
}
.left-arrow{
    width: 35px;
    height: 35px;
    background: url("../img/sprite.png") 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    left: 13px;
    top: 50%;
    margin-top: -18px;
}
.right-arrow{
    width: 35px;
    height: 35px;
    background: url("../img/sprite.png") -35px 0 no-repeat;
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -18px;
}

/*-----Left Sidebar-----*/
aside.left-sidebar{
    width: 38%;
    float: left;
}
aside.left-sidebar div.title{
    border: 1px solid #000000;
}

aside.left-sidebar h2{
    color: #FFFFFF;
    line-height: ;
    margin: 0;
    background: #43042a; /* Old browsers */
    background: -moz-linear-gradient(top,  #43042a 0%, #5f073a 100%, #5f073a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43042a), color-stop(100%,#5f073a), color-stop(100%,#5f073a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43042a', endColorstr='#5f073a',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #592C47;
    font: normal 115%/48px Arial , sans-serif;
    padding-left: 13px;
}

/*-----Calendar-----*/
div.ui-datepicker-inline{
    border-image: url('../img/border.png') 1 1 1 1 stretch stretch;
    border-image-width: 1px 1px 1px 1px;
    background: url("../img/dp-png.png");
    position: relative;
    z-index: 1;
}
div.ui-datepicker-header{
    position: relative;
}
a.ui-corner-all{
    position: absolute;
    width: 11px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    top: 17px;
}
a.ui-datepicker-prev{
    background: url("../img/sprite.png") no-repeat scroll -99px 0 transparent;
    left: 22px;
}
a.ui-datepicker-next{
    background: url("../img/sprite.png") no-repeat scroll -110px 0 transparent;
    right: 22px;
}
div.ui-datepicker-title{
    margin: 0 2.3em;
    text-align: center;
    color: #FFFFFF;
    text-transform: lowercase;
    font: normal 100%/47px Arial , sans-serif;
    height: 40px;
}
table.ui-datepicker-calendar{
    width: 100%;
}
table.ui-datepicker-calendar thead{
    display: none;
}
table.ui-datepicker-calendar tr{

}
table.ui-datepicker-calendar tr td{
    text-align: center;
    height: 47px;
}
table.ui-datepicker-calendar tr td a{
    text-decoration: none;
    color: #c15893;
    font: normal 110% Arial , sans-serif;
}
table.ui-datepicker-calendar tr td.mark{
    background: url("../img/sprite.png") no-repeat scroll -63px -48px transparent;
}
table.ui-datepicker-calendar tr td.mark span{
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
table.ui-datepicker-calendar tr td.mark:hover{
    background: url("../img/sprite.png") no-repeat scroll -11px -48px transparent;
}
.ui-tooltip, .arrow:after {
    background: #FFFFFF;
    border-top: 1px solid #735f6b;
    position: absolute;
    z-index: 100;
}
.ui-tooltip {
    color: #44042a;
    border-radius: 0;
    font: bold 90%/23px Arial, Sans-Serif;
    height: 23px;
    padding: 0 25px;
    background: #eeeeee; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2I3YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjdiN2I3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 50%, #b7b7b7 100%, #b7b7b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#eeeeee), color-stop(100%,#b7b7b7), color-stop(100%,#b7b7b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 50%,#b7b7b7 100%,#b7b7b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 50%,#b7b7b7 100%,#b7b7b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 50%,#b7b7b7 100%,#b7b7b7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 50%,#b7b7b7 100%,#b7b7b7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-8 */
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -20px;
    width: 20px;
    height: 20px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/*-----Content-----*/
section.content{
    margin-left: 38%;
}
section.content h2{
    font: 115% Arial,sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 1px #31021e;
    filter: dropshadow(color=#31021e, offx=1, offy=1);
}
section.content p{
    font: 100%/22px Arial,sans-serif;
    text-shadow: 1px 1px 1px #31021e;
    filter: dropshadow(color=#31021e, offx=1, offy=1);
    line-height: 22px\0/;
}
.top-line{
    width: 100%;
    height: 1px;
    background: url("../img/top-line.png") repeat-x;
}
.main-content{
    margin-left: 28px;
    padding: 16px 28px 13px;
    background: url("../img/dp-png.png");
    color: #FFFFFF;
    background-color: transparent;
    border-image: url('../img/border.png') 1 1 1 1 stretch stretch;
    border-image-width: 1px 1px 1px 1px;
}
div.content-bottom{
    margin-left: 28px;
    border-top: 1px dotted #330f27;
    border-left: none;
    border-right: none;
    overflow: hidden;
    margin-top: 28px;
}
div.content-bottom .cb{
    display: inline-block;
    width: 50%;
    float: left;
}
div.date{
    display: inline-block;
    width: 20%;
    float: left;
}
div.b-link{
    display: inline-block;
    width: 70%;
    float: left;
    padding-left: 8px;
}
div.b-link a{
    color: #b25492;
    font: normal 75% Arial, sans-serif;
}
div.date div.num{
    color: white;
    font: normal 190% Arial, sans-serif;
    text-align: center;
}
div.date div.month{
    color: white;
    font: normal 100% Arial, sans-serif;
    text-align: center;
}
div.border-block > div{
    display: inline-block;
    float: left;
}
div.dotted{
    border-bottom: 1px dotted #330f27;
    width: 39%;
    margin-top: 12px;
}
div.more-link{
    width: 22%;
    text-align: center;
}
div.more-link a{
    color: #b25492;
    font: normal 75% Arial, sans-serif;
}

/*-----Bottom Page-----*/
section.page-bottom{
    min-height: 120px;
    border-bottom: 1px dotted #330f27;
    padding-bottom: 35px;
}
div.bottom-img{
    float: left;
    width: 298px;
    height: 120px;
    margin-left: 28px;
    webkit-box-shadow: 0px 0px 10px 1px #1c0011;
    box-shadow: 0px 0px 10px 1px #1c0011;
}
div.bottom-img.first{
    margin-left: 0;
}

/*-----Footer-----*/
footer{
    clear: both;
    position: relative;
    height: 145px;
    clear:both;
    width: 950px;
    margin: 0 auto;
    margin-top: -148px;
    z-index: 100;
}
div.footer-top{
    padding-top: 38px;
}
div.footer-top-left{
    float: left;
    color: #633854;
    font: normal 75% Arial, sans-serif;
}
div.footer-top-right{
    float: right;
}
ul.footer-menu{
    margin: 0;
}
ul.footer-menu li{
    list-style: none;
    float: left;
    margin-right: 40px;
}
ul.footer-menu li.last{
    margin-right: 22px;
}
ul.footer-menu li a{
    color: #b25492;
    font: normal 75% Arial, sans-serif;
}
div.footer-bottom{
    clear: both;
    padding-top: 13px;
}
div.footer-bottom-left{
    float: left;
}
div.footer-bottom-right{
    float: right;
}
div.footer-bottom-right > div{
    float: left;
}
div.sales ,
div.learning{
    color: #FFFFFF;
    font: normal 75% Arial, sans-serif;
}
div.learning{
    margin-left: 45px;
}
div.phone a{
    color:#FFFFFF;
    font: normal 115% Arial, sans-serif;
    text-decoration: none;
}
div.create{
    margin-left: 105px;
    margin-right: 22px;
}
div.create span{
    font: normal 70% Arial, sans-serif;
    color: #633854;
}
div.create a{
    font: normal 75% Arial, sans-serif;
    color: #b25492;
    margin-left: 2px;
}
.shadow{
    position: absolute;
    top: 960px;
    height: 130px;
    width: 100%;
    background: #0b0708;
    -webkit-box-shadow: 0px 0px 200px 150px #0b0708;
    box-shadow: 0px 0px 200px 150px #0b0708;
    z-index: 1;
    background: transparent\0/;
    display: block;
}
*:first-child+html .shadow {
    display: none;
}
.space{
    width: 100%;
    margin-bottom: 34px;
    clear: both;
    height: 1px;
}

.menu-button{
    display: none;
    text-decoration: none;
    color: #FFFFFF;
    heigth: 46px;
    background: #43042a; /* Old browsers */
    background: -moz-linear-gradient(top,  #43042a 0%, #5f073a 100%, #5f073a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43042a), color-stop(100%,#5f073a), color-stop(100%,#5f073a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #43042a 0%,#5f073a 100%,#5f073a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43042a', endColorstr='#5f073a',GradientType=0 ); /* IE6-9 */
    border-right: 1px solid #390423;
    border-left: 1px solid #740847;
    font: normal 95%/46px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

/*-----Mobile-----*/
